        * {
            margin: 0%;
            padding: 0%;
            box-sizing: border-box;
        }
        
        @media only screen and (max-width: 980px) {
            .about {
                background-image: url(images/background-big.png);
                background-size: cover;
            }
            .body {
                background-color: white;
            }
        }
        
        body {
            width: 100%;
            background-color: #000000;
            background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
        }
        
        header {
            width: 100%;
            background: #141E30;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #243B55, #141E30);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #243B55, #141E30);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
        
        nav {
            display: flex;
            justify-content: flex-end;
        }
        
        nav ul {
            list-style: none;
            display: flex;
        }
        
        nav li {
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 30px;
            margin-right: 10px;
        }
        
        nav a {
            font-size: 20px;
            text-decoration: none;
            color: white;
            padding: 10px 10px;
        }
        
        nav a:hover {
            background-color: black;
        }
        
        .page {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;
            margin: 30px auto;
            border-radius: 10px;
            box-shadow: 2px 2px 5px 2px #00000050;
            background-color: #b8c6db;
            background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
        }
        
        .intro {
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            width: 100%;
            font-size: 40px;
            height: 300px;
            background-image: url(images/background.png);
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        .intro h1 {
            font-weight: lighter;
            font-family: Arial, Helvetica, sans-serif;
            width: 400px;
            text-align: center;
            background-color: #00000050;
            padding: 30px 0px;
            text-decoration: underline;
        }
        
        .days {
            margin-top: 40px;
            margin-bottom: 40px;
            font-family: Arial, Helvetica, sans-serif;
        }
        
        .days h1 {
            margin-bottom: 30px;
            font-size: 50px;
        }
        
        .days h3 {
            margin-bottom: 20px;
        }
        
        .days h2 {
            margin-bottom: 10px;
        }
        
        .days ul {
            margin-bottom: 10px;
        }
        
        .days li {
            margin-bottom: 10px;
        }
        
        .days li:last-of-type {
            list-style: none;
        }
        
        .social {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;
            background: #141E30;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #243B55, #141E30);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #243B55, #141E30);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
        
        .social img {
            border-radius: 100%;
            width: 60px;
            margin-right: 70px;
        }
        
        footer {
            margin margin-top: 10px;
            text-align: center;
            height: 20px;
            background: #141E30;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #243B55, #141E30);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #243B55, #141E30);
            color: #ffffff90;
            font-weight: lighter;
            font-family: Arial, Helvetica, sans-serif;
        }
        
        footer p {
            background-color: #00000040;
            height: 100%;
        }